.Search{
    text-align: center;
    border: 2px solid rgb(164, 63, 63);;
    padding: 15px;
    width: 200px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 12px;
    background-color: transparent;
    margin-top: 450px;
    }
.table{
    text-align: -300px !important;
    border: 2px solid rgb(164, 63, 63);
    padding: 15px;
    width: 1500px;
    height: 150px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 12px;
    background-color: rgb(255, 249, 235);
}