  /* BuildingSearchBar.css */

  .building-search-container {
    margin-top: 20px;
    text-align: center;
  }

  .input-wrapper {
    position: relative;
  }

  .building-search-input {
    padding: 10px 30px 10px 10px;
    font-size: 16px;
    width: 100%;
    box-sizing: border-box;
  }

  .search-icon {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
    width: 16px; /* Adjust the width and height as needed */
    height: 16px;
  }

  .building-table {
    margin-top: 20px;
    width: 100%;
    border-collapse: collapse;
  }

  .building-table th,
  .building-table td {
    border: 1px solid #bc4749;
    padding: 10px;
    text-align: left;
  }

  .building-table th {
    background-color: #bc4749;
  }
