/* Add these styles to your existing CSS */

.search-bar-container {
  padding-top: 20vh;
}

body {
  margin: 0;
  padding: 0;
}

/* New styles for page indicators */
.carousel-indicator {
  width: 12px;
  height: 12px;
  background-color: #ccc; /* Default color */
  border-radius: 50%;
  display: inline-block;
  margin: 0 5px;
  cursor: pointer;
}

.carousel-indicator.active {
  background-color: maroon; /* Active color */
}
