.carousel-indicators {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
    display: flex;
    padding: 0;
    margin-right: 15%;
    margin-bottom: 0rem;
    margin-left: 15%;
}
